body {
    margin: 0;
}

::backdrop {
    background-color: #000a;
    backdrop-filter: blur(4px);
}

label {
    user-select: none;
}

.map_organizer, .padded {
    padding: 1em;
}

.page {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &>* {
        flex-grow: 2;
    }

    &>header,
    &>footer {
        flex-grow: 0;
        z-index: 1001;
        color: white;
        background-color: #161680;
        padding: 1em 1em;
    }
}

header>* {
    display: inline-block;
    padding: 0 1em;
    margin: 0;
}


.marker {
    opacity: 1;
    position: absolute;
    background-repeat: no-repeat;
    transition: 1s top ease-in-out ,
        1s left ease-in-out,
        500ms opacity cubic-bezier(.46,-1.34,.25,1),
        500ms transform cubic-bezier(.46,-1.34,.25,1);
}

.marker_out {
    transform: scale(0);
}

.marker_in {
    transform: scale(4);
    opacity: 0;
}
